@font-face {
    font-family: 'ROKABold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/ROKABold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav{
    width: 100%;
    display: flex;
    height: 100px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

.TopLogo{
    width: 100px;
    height: 100px;
}

.TopLogo > a > img{
    width: 100%;
    height: 100%;
}

nav > ul{
    width: calc(100% - 600px);
    height: auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav > ul > li{
    text-align: center;
    width: 100px;
    height: auto;
    font-size: 23px;
    font-family: 'ROKABold';
    line-height: 23px;
}

nav > ul > li > a{    
    color: #333;
    opacity: 0.7;
    transition: 0.5s;
}

nav > ul > li > a:hover{    
    opacity: 1;
}


.RightContent{
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.Search{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.Search > input{
    width: 175px;
    height: 25px;
    border-radius: 12px;
    margin-right: 2%;
    background-image: url(../OdySayImage/Icon/search.png);
    background-repeat: no-repeat;
    background-position: 150px center;
    padding: 10px;
}

.Search > input::placeholder{
    font-size: 10px;
}

.TopIcon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.User{
    width: 25px;
    height: 27.47px;
    margin: 0 25px;
    opacity: 0.7;
    transition: 0.5s;
}

.User:hover{
    opacity: 1;
    cursor: pointer;
}

.Log{
    width: 25px;
    height: 27.47px;
    opacity: 0.7;
    transition: 0.5s;
}

.Log:hover{
    opacity: 1;
    cursor: pointer;
}

/*헤더종료*/

.Button-Wrap{
    width: 102px;
    height: 375px;
    position: fixed;
    z-index: 2;
    right: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Button-Wrap > a{
    width: auto;
    height: auto;
    opacity: 1;
    transition: 0.8s;
    margin: 10px 0; 
}

.Button-Wrap > a:hover{
    opacity: 0.6;
}

.CartWrapper{
    width: 100%;
    height: auto;
}

.CartUpContent{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.GoodsInfo{
    width: calc(50% - 40px);
    height: auto;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GoodsInfo > ul{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    border-top: 1px solid #333;
    border-bottom: 2px solid #333;
    padding: 0;
    text-align: center;
}

.GoodsInfo > ul > li{
    font-size: 20px;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.GoodsInfo > p{
    width: 100%;
    height: auto;
    text-align: center;
    color: #666;
    font-size: 30px;
    margin: 20% 0;
}

.Go-Shop{
    width: 300px;
    height: 65px;
    background-color: #333;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    opacity: 1;
    transition: 0.8s;
}

.Go-Shop:hover{
    opacity: 0.7;
}

.Go-Shop > img{
    width: 25px;
    height: 25px;
    margin-left: 4%;
}

.AmountInfo{
    display: flex;
    flex-direction: column;
    width: 359px;
    height: auto;
}

.Recipt{
    background-image: url(../OdySayImage/Banner/Recipt.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 369px;
    margin: 0;
    padding: 5%;
}

.Recipt > p{
    font-size: 27px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 4%;
    height: auto;
    width: 100%;
}

.TotalCost{
    display: flex;
    color: #fff;
    width: 100%;
    height: auto;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 12%;
}

.TotalCost > p{
    width: auto;
    height: auto;
    margin: 0;
}
.Discount{
    display: flex;
    color: #fff;
    width: 100%;
    height: auto;
    justify-content: space-between;
    font-size: 20px;
    margin: 5% 0;
}

.Discount > p{
    width: auto;
    height: auto;
    margin: 0;
}

.Recipt-Line{
    width: 100%;
    height: 1px;
    border: dashed 1px #fff;
    margin: 8% 0;
}

.AmountInfo > a{
    width: 100%;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: #fff;
}

.Present{
    background-color: #666;
    margin: 4% 0;
    opacity: 1;
    transition: 0.8s;
    font-size: 20px;
}

.Present:hover{
    opacity: 0.4;
}

.Order{
    background-color: #333;
    opacity: 1;
    transition: 0.8s;
    font-size: 20px;
}

.Order:hover{
    opacity: 0.6;
}

.Content-Line{
    width: 100%;
    height: 1px;
    border-bottom: #333 solid 2px;
    margin: 7% 0;   
}

.CartDownContent{
    width: 100%;
    height: auto;
    padding: 2%;
    margin-bottom: 8%;
}

.CartDownContent-Title{
    width: auto;
    height: auto;
    font-size: 30px;
    font-weight: bold;
}

.CartDownDescirption{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5%;
}

.CartDownDescirption-Item{
    width: 345px;
    height: auto;
}

.CartDownDescirption-Item > p{
    text-align: center;
    color: #333;
    margin: 4% 0;
}
.CartDownDescirption-Item > p:nth-child(2){
    font-size: 30px;
    font-weight: bold;
}

/*푸터시작*/
footer{
    width: 100%;
    height: 300px;position: relative;
}

.BotContentWrap{
    width: 100%;
    height: auto;
    border-top: 2px solid #898989;
    padding: 0 1%;
    display: flex;
    justify-content: space-around;
}

.BotContent{
    display: flex;
    width: 100%;
    height: auto;
    margin: 0 1%;
    justify-content: space-around;
}

.BotContent > p:first-child{
    width: auto;
    font-size: 15px;
    height: auto;
    color: #666;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
}

.BotContent > p:nth-child(2){
    width: auto;
    height: auto;
    font-size: 10px;
    line-height: 30px;
    color: #898989;
    margin: 0;
}

.BotContent > p > span{
    color: #666;
}

.BotContent > p > button{
    width: 91px;
    height: 27px;
    background-color: #fff;
    border: 1px solid #898989;
    font-size: 10px;
    border-radius: 4px;
    color: #898989;
}

.CopyRight{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    height: auto;
    margin: 30px 0;
}

select{
    width: 271px;
    height: 46px;
    border: #898989 1px solid;
    position: absolute;
    right: 2%;
    bottom: 20px;
}
/*푸터 끝*/