@font-face {
    font-family: 'ROKABold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.1/ROKABold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav{
    width: 100%;
    display: flex;
    height: 100px;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
}

.TopLogo{
    width: 100px;
    height: 100px;
}

.TopLogo > a > img{
    width: 100%;
    height: 100%;
}

nav > ul{
    width: calc(100% - 600px);
    height: auto;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

nav > ul > li{
    text-align: center;
    width: 100px;
    height: auto;
    font-size: 23px;
    font-family: 'ROKABold';
    line-height: 23px;
}

nav > ul > li > a{    
    color: #333;
    opacity: 0.7;
    transition: 0.5s;
}

nav > ul > li > a:hover{    
    opacity: 1;
}


.RightContent{
    width: auto;
    height: 100px;
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.Search{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 50px;
}

.Search > input{
    width: 175px;
    height: 25px;
    border-radius: 12px;
    margin-right: 2%;
    background-image: url(../OdySayImage/Icon/search.png);
    background-repeat: no-repeat;
    background-position: 150px center;
    padding: 10px;
}

.Search > input::placeholder{
    font-size: 10px;
}

.TopIcon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.TopIcon > a{
    width: auto;
    height: auto;
}

.User{
    width: 25px;
    height: 27.47px;
    margin: 0 25px;
    opacity: 0.7;
    transition: 0.5s;
}

.User:hover{
    opacity: 1;
    cursor: pointer;
}

.Log{
    width: 25px;
    height: 27.47px;
    opacity: 0.7;
    transition: 0.5s;
}

.Log:hover{
    opacity: 1;
    cursor: pointer;
}

/*헤더종료*/

.Item-Description{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.Left-Sector{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Left-Sector > img{
    width: 720px;
    height: 721.44px;
}

.Left-Sector-Icon{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    margin: 4% 0;
}

.Left-Sector-Icon > a{
    width: 80px;
    height: 80px;
    transition: 0.7s;
    opacity: 1;
}

.Left-Sector-Icon > a:nth-child(2){
    margin: 0 4%;
}

.Left-Sector-Icon > a:hover{
    opacity: 0.7;
}

.Right-Sector{
    width: auto;
    height: auto;

}

.Item-Name{
    width: auto;
    height: auto;
    font-size: 30px;
    color: #333;
    margin-bottom: 4%;
}

.Item-Name > b{
    font-family: 'ROKABold';
}

.Right-Sector-Line{
    width: 100%;
    height: 2px;
    border-bottom: 1px dashed #333;
    margin-bottom: 4%;
}

.Itme-Info{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    font-size: 20px;
    text-align: center;
}

.Itme-Info > p:first-child{
    font-weight: bold;
}

.Itme-Info > p:nth-child(3){
    color: #999;
}

.Itme-Info > p:nth-child(5){
    width: 300px;
    height: 20px;
    background-color: #333;
    color: #fff;
    font-size: 10px;
    line-height: 20px;
    border-radius: 3px;
}

.Itme-Option{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
    padding: 0 7%;
}

.Itme-Option > p{
    width: auto;
    font-size: 20px;
    color: #333;
}

.Itme-Option > p:first-child{
    font-weight: bold;
}

.Color-Exam{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.Gray{
    width: 65px;
    height: 65px;
    background-color: #C0C0C0;
    border-radius: 50%;
    transition: 0.7s;
    opacity: 1;
}

.Gray:hover{
    opacity: 0.7;
    cursor: pointer;
}

.Black{
    width: 65px;
    height: 65px;
    background-color: #000000;
    border-radius: 50%;
    margin: 0 20px;
    transition: 0.7s;
    opacity: 1;
}

.Black:hover{
    opacity: 0.7;
    cursor: pointer;
}

.Basic{
    width: 65px;
    height: 65px;
    background-color: #E2D3C0;
    border-radius: 50%;
    transition: 0.7s;
    opacity: 1;
}

.Basic:hover{
    opacity: 0.7;
    cursor: pointer;
}

.Item-Size{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
    padding: 0 7%;
}

.Item-Size > p{
    width: auto;
    font-size: 20px;
}

.Item-Size > p:first-child{
    font-weight: bold;
}

.Item-Size > p:nth-child(2){
    font-size: 15px;
    color: #333;
    letter-spacing: 4px;
}

.Item-Size > p:nth-child(2) > b{
    font-weight: 400;
    color: #666;
}

.Item-Code{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
    padding: 0 7%;
}

.Item-Code > p{
    width: auto;
    font-size: 20px;
}

.Item-Code > p:first-child{
    font-weight: bold;
}

.Guide{
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.Guide > a{
    width: auto;
    height: auto;
    font-size: 20px;
    color: #333;
    font-weight: bold;
    transition: 0.7s;
    opacity: 1;
}

.Guide > a:hover{
    opacity: 0.7;
}

.Guide > p{
    width: auto;
    height: auto;
    font-size: 15px;
    margin: 0 4%;
}

.section2{
    width: 100%;
    height: 82px;
    background-color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
}

.section2 > a{
    color: #fff;
    font-size: 20px;
    width: 100%;
    height: 38px;
    text-align: center;
    border-right: 1px solid #fff;
    font-weight: bold;
}

.section2 > a:last-child{
    border: none;
}

.Item-Description-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Caution{
    width: 80px;
    height: 80px;
    font-size: 50px;
    color: #fff;
    background-color: #333;
    text-align: center;
    border-radius: 50%;
}

.Caution-Descirption{
    width: auto;
    height: auto;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.Caution-Descirption-2{
    height: auto;
    text-align: center;
    color: #333;
}

.section3{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    margin-bottom: 4%;
    border-bottom: 1px #333 solid;
    border-top: 1px #333 solid;
}

.section3 > a{
    color: #333;
    font-size: 20px;
    width: 100%;
    height: 38px;
    text-align: center;
    border-right: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section3 > a > b{
    width: auto;
    color: #999;
    display: flex;
    align-items: center;
    font-weight: 400;
    justify-content: center;
}

.section3 > a:first-child{    
    font-weight: bold;
}

.section3 > a:last-child{
    border: none;
}

.Item-Title{
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 50px;
}

.Item-Title > b{
    font-family: 'ROKABold';
}

.Item-Line{
    width: 100px;
    height: 2px;
    border-bottom: 2px solid #333;
    margin: 4% 0;
}

.Itme-Explanation{
    width: auto;
    height: auto;
    font-size: 20px;
    color: #333;
    text-align: center;
    line-height: 40px;
}

.Item-Title-2{
    font-family: 'ROKABold';
    font-weight: bold;
    color: #333;
    font-size: 45px;
    margin: 4% 0;
    text-align: center;
}

.Detail-Img{
    width: 800px;
    height: 800px;
}

.Itme-Explanation-Title{
    font-size: 35px;
    color: #333;
    font-weight: bold;
    text-align: center;
    height: auto;
    width: auto;
}

.Itme-Explanation-2{
    width: auto;
    height: auto;
    font-size: 27.5px;
    color: #333;
    line-height: 40px;
    text-align: center;
}

.Itme-Explanation-Content{
    width: 100%;
    height: auto;
}

.Explanation-Content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
}

.Explanation-Content > img{
    width: 424px;
    height: 424px;
    margin-right: 2%;
}

.Explanation-Content-Text{
    width: auto;
    height: auto;
    margin-left: 2%;
}

.Explanation-Content-Text > p{
    width: auto;
    height: auto;
}

.Explanation-Content-Text > p:first-child{
    font-size: 35px;
    color: #333;
    font-weight: bold;
}

.Explanation-Content-Text > p:last-child{
    font-size: 27.5px;
    color: #333;
}

.Size-info{
    width: calc(100% - 400px);
    height: auto;
    border-collapse: collapse;
    margin-bottom: 8%;
}

.Size-info > caption:first-child{
    font-weight: bold;
    font-size: 50px;
    color: #333;
    margin: 4% 0;
}

.Size-info > caption:nth-child(2){
    font-size: 20px;
    color: #333;
    text-align: end;
    margin-bottom: 2%;
}

.tr1{
    width: 100%;
    height: 86px;
    background-color: #333;
    color: #fff;
    font-size: 25px;
}

.tr1 > td{
    width: 280px;
    text-align: center;
    border-right: 1px solid #999;
}

.tr1 > td:last-child{
    border: none;
}

.tr2{
    width: 100%;
    height: 86px;
    color: #333;
    font-size: 25px;
}

.tr2 > td{
    width: 280px;
    text-align: center;
    border-right: 1px solid #999;
}

.tr2 > td:last-child{
    border: none;
}

.tr3{
    width: 100%;
    height: 86px;
    color: #fff;
    background-color: #666;
    font-size: 25px;
}

.tr3 > td{
    width: 280px;
    text-align: center;
    border-right: 1px solid #999;
}

.tr3 > td:last-child{
    border: none;
}

.Authentication{
    width: calc(100% - 400px);
    height: 118px;
    background-color: #333;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 4% 0 6% 0;
}

.Left-Side{
    width: auto;
    height: auto;
    color: #fff;
    text-align: center;
}

.Left-Side > p:first-child{
    font-size: 22px;
    font-weight: bold;
}

.Left-Side > p:last-child{
    font-size: 15px;
}

.Right-Side{
    width: auto;
    height: auto;
    color: #fff;
}

.Right-Side > p:first-child{
    font-size: 13px;
}

.Right-Side > p:last-child{
    font-size: 10px;
}