@font-face{
    font-family:'DNFForgedBlade';font-style:normal;font-weight:300;
    src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')format('opentype')}

*{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html,body{
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    background-color: #fff;
}

.TopLogo{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 75px;
}

.TopLogo > img{
    width: 300px;
    height: 98px;
}

nav{
    width: calc(100% - 600px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav > li{
    width: auto;
    height: auto;
    list-style-type: none;
    font-family: 'DNFForgedBlade';
    font-size: 20px;    
}

nav > li > a
{
    color: #054AA5;
    transition: 0.5s;
}


@media screen and (max-width: 1400px) {
    nav > li {
      font-size: 15px;
    }
  }

nav > li > a:hover{
    opacity: 0.6;
}


.TopIcon{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 75px;
    justify-content: center;
}

.TopIcon > a{
    width: auto;
    height: auto;
    margin: 0 5px;
}

.TopIcon > a:first-child{
    font-size: 15px;
    font-weight: bold;
    color: #054AA5;
}

.TopIcon > a > img{
    width: 30px;
    height: 30px;
}
/*헤더 끝*/

.CoffeeStroyWrapper{
    width: 100%;
    height: auto;
}

.Top-Content{
    height: 1049px;
    background-color: #054AA5;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30%;
}

.Top-Content > video{
    width: 1280px;
    height: 720px;
    border: 3px solid #c1c1c1;
    padding: 0;
    margin: 0;
}

.Top-Content-Title{
    width: 100%;
    height: auto;
    color: #fff;
    font-family: 'DNFForgedBlade';
    margin:8% 0 4% 0;
    text-align: center;
    font-size: 48px;
}

.Top-Sub-Title{
    width: 100%;
    height: auto;
    color: #fff;
    font-size: 35px;
    text-align: center;
}

.Top-BlueMoon-Title{
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    font-size: 58px;
    margin: 2.5% 0;
    font-weight: bold;
}

.Banner-menu{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin: 4% 0;
}

.Banner-menu > ul{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.Banner-menu >ul > li{
    width: 200px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: #fff 2px solid;
    border-right: none;
    font-family: 'DNFForgedBlade';
    font-size: 16px;
}

.Banner-menu > ul > li:last-child{
    border-right: 1px solid #fff;
}

.Banner-menu > ul > li > a{
    color:#fff;
    transition: 0.5s;
}

.Banner-menu > ul > li > a:hover{
    color:#c1c1c1;
}

.CoffeeStory-Content{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.CoffeeStory-Content-Title{
    width: 100%;
    height: auto;
    text-align: center;
    color: #054AA5;
    font-size: 48px;
    font-family: 'DNFForgedBlade';
    font-weight: bold;
}

.CoffeeStory-Content-Line{
    width: 60px;
    border-bottom: 2px solid #054AA5;
    margin: 4% 0;
}

.CoffeeStory-Content-Description{
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
    align-items: center;
}

.CoffeeStory-Content-Description-Text{
    padding: 0 4%;
    width: auto;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.CoffeeStory-Content-Description-Text > p:first-child{
    font-size: 52px;
    color: #054AA5;
    font-family: 'DNFForgedBlade';
    font-weight: bold;
    margin-bottom: 5%;
}

.CoffeeStory-Content-Description-Text > p:nth-child(2){
    font-size: 32px;
    font-weight: bold;
    color: #054AA5;
    margin-bottom: 5%;
}

.CoffeeStory-Content-Description-Text > p:nth-child(3){
    width: 210px;
    height: auto;
    font-weight: bold;
    font-size: 32px;
    color: #fff;
    background-color: #054AA5;
    margin-bottom: 5%;
}

.CoffeeStory-Content-Description-Text > p:nth-child(4){
    width: auto;
    height: auto;
    font-size: 20px;
    color: #054AA5;
    margin-bottom: 5%;
}

.CoffeeStory-Content-Description-Text > p:nth-child(5){
    font-size: 18px;
    line-height: 30px;
    color: #054AA5;
    width: 575px;
    height: auto;
    background-color: #71A1E5;
    padding: 4%;
}

.CoffeeStory-Content-Description-Text > p:nth-child(5) > strong{
    font-size: 19.5px;
    font-weight: bold;
}

.CoffeeStory-Content-Description-Img{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}

.CoffeeStory-Content-Description-Img > img{
    width: 540px;
    height: 540px;
}

.Coffee-Graph-wrapper{
    width: 100%;
    height: auto;
    background-color: #054AA5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Coffee-Graph-wrapper-Title{
    font-size: 48px;
    color: #fff;
    margin-top: 4%;
    margin-bottom: 6%; 
    text-align: center;
    font-weight: bold;
    font-family: 'DNFForgedBlade';
}

.Graph-Line{
    width: 60px;
    border-bottom: 2px solid #fff;
    margin-bottom: 5%;
}

.Coffee-Graph-SubTitle{
    width: auto;
    height: auto;
    color: #fff;
    text-align: center;
    font-size: 21.5px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 6%;
}

.Graph-Icon-wrapper{
    width: 1000px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.Graph-Icon{
    width: auto;
    height: auto;
}

.Graph-Icon-Img{
    width: 207px;
    height: 207px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Graph-Icon-Img > img{
    width: 100px;
    height: 100px;
}

.Graph-Icon > p{
    width: 100%;
    height: auto;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 100;
    margin: 4% 0;
}

.Graph-Img{
    width: 1150px;
    height: 386px;
    background-image: url(../BlueMoonImages/BannerImage/CoffeeStroy/BlueMoon’S\ COFFEE\ TASTE.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4% 0;
}

.Graph-Img-2{
    width: 1150px;
    height: 278px;
    background-image: url(../BlueMoonImages/BannerImage/CoffeeStroy/ROASTING\ POINT.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 4%;
}

.Signature-Wrap {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4% 0;
}

.Signature-Wrap > p{
    text-align: center;
    font-size: 48px;
    color: #054AA5;
    font-weight: bold;
    font-family: 'DNFForgedBlade';
    margin: 4% 0;
}

.Signature-Line{
    width: 60px;
    border-bottom: 2px solid #054AA5;
    margin-bottom: 4%;
}

.Signature-Content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.Signature-Content-Item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.Signature-Content-Item-Img{
    width: 350px;
    height: 350px;
}

.Signature-Content-Item > p:nth-child(2){
    font-size: 20px;
    margin: 4% 0;
    color: #054AA5;
    font-weight: bold;
    width: auto;
}

.Signature-Content-Item > p:nth-child(3){
    color: #054AA5;
    font-size: 18px;
    width: auto;
}
/*푸터시작*/

footer{
    width: 100%;
    height: 300px;
    border-top: 2px solid #054AA5;
}

footer > p{
    height: auto;
    text-align: center;
}

footer > p:first-child{
    font-size: 20px;
    color: #054AA5;
    font-weight: bold;
    margin: 40px 0;
}

footer > p > span{
    font-size: 15px;
}

footer > p > span::after{
    content: ' | ';
}

footer > p > span:last-child::after{
    content: ' ';
}

.bottomContent{
    display: flex;
    height: auto;
    text-align: center;
}

.lastPTag{
    margin: 50px;
    width: 100%;
}

strong{
    color: #054AA5;
}

.FamilySite{
    width: 150px;
    height: 30px;
    font-size: 12px;
    color: #054AA5;
    float: right;
    margin-right: 5%;
    font-weight: bold;
}