@font-face{
    font-family:'DNFForgedBlade';font-style:normal;font-weight:300;
    src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')format('opentype')}

*{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html,body{
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    background-color: #fff;
}

.TopLogo{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 75px;
}

.TopLogo > img{
    width: 300px;
    height: 98px;
}

nav{
    width: calc(100% - 600px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav > li{
    width: auto;
    height: auto;
    list-style-type: none;
    font-family: 'DNFForgedBlade';
    font-size: 20px;    
}

nav > li > a
{
    color: #054AA5;
    transition: 0.5s;
}

nav > li > a:hover{
    opacity: 0.6;
}


.TopIcon{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 75px;
    justify-content: center;
}

.TopIcon > a{
    width: auto;
    height: auto;
    margin: 0 5px;
}

.TopIcon > a:first-child{
    font-size: 15px;
    font-weight: bold;
    color: #054AA5;
}

.TopIcon > a > img{
    width: 30px;
    height: 30px;
}
/*헤더 끝*/

.Banner1{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../BlueMoonImages/BannerImage/Cummunity-Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.BannerText{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.BannerText p{
    width: auto;
    height: auto;
    font-family: 'DNFForgedBlade';
    color: #054AA5;
    font-size: 45px;
    text-align: center;
}

.BannerText > p:first-child{
    font-weight: bold;
}

.BannerText > div{
    width: 50px;
    height: 1px;
    border-bottom: 3px solid #054AA5;
    margin: 8% 0;
}

.BannerText p:nth-child(3){
    color: #054AA5;
    font-size: 25px;
    font-weight: bold;
}

.Banner-menu{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin: 4% 0;
}

.Content-Wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Class-Contents{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4% 0;
}

.Class-Contents-Items{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.Class-Contents-Items-Images{
    width: 547px;
    height: 149px;
    background-image: url(../BlueMoonImages/BannerImage/Cummnity-Items.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.Opacity{
    width: 100%;
    height: 100%;
    background-color: RGBA(5, 74, 165, 0.8);
    opacity: 0.8;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
}

.Opacity > p{
    width: auto;
    height: auto;
    color: #fff;
    font-size: 50px;
    font-family: 'DNFForgedBlade';
}

.Star{
    width: 109px;
    height: 109px;
    display: flex;
    align-items: center;
    margin-left: 2%;
    justify-content: center;
    position: relative;
    z-index: 3;
}

.Star > img{
    width: 109px;
    height: 109px;
}

.Star > p{
    font-size: 10px;
    color: #054AA5;
    text-align: center;
    width: auto;
    height: auto;
    position: absolute;
    z-index: 3;
    font-family: 'DNFForgedBlade';
}

.Star > p > b{
    font-size: 35px;
}

.Class-Contents-Text{
    width: 602px;
    height: 149px;
    border: 2px solid #054AA5;
    padding: 1% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Class-Contents-Text > a{
    width: 76px;
    height: 32px;
    border-radius: 16px;
    background-color: #054AA5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: 0.8s;
    opacity: 1;
}

.Class-Contents-Text > a:hover{
    opacity: 0.8;
}

.Class-Contents-Text > p{
    width: auto;
    height: auto;
    font-size: 28px;
    margin: 2% 0;
    font-weight: 500;
}

.Class-Contents-Text > span{
    width: auto;
    height: auto;
    color: #054AA5;
    font-size: 16.75px;
    font-weight: 100;
}

.Number-Page{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Number-Page > a{
    margin: 0 10%;
    transition: 0.8s;
    opacity: 1;
    color: #054AA5;
    font-size: 16px;
}

.Number-Page > a:hover{
    opacity: 0.6;
}

.Number-Page > a:first-child{
    font-weight: bold;
}

.Number-Page > a:last-child{
    width: 30px;
    height: 30px;
}

.Number-Page > a:last-child > img{
    width: 30px;
    height: 30px;
}

footer{
    width: 100%;
    height: 300px;
    border-top: 2px solid #054AA5;
}

footer > p{
    height: auto;
    text-align: center;
}

footer > p:first-child{
    font-size: 20px;
    color: #054AA5;
    font-weight: bold;
    margin: 40px 0;
}

footer > p > span{
    font-size: 15px;
}

footer > p > span::after{
    content: ' | ';
}

footer > p > span:last-child::after{
    content: ' ';
}

.bottomContent{
    display: flex;
    height: auto;
    text-align: center;
}

.lastPTag{
    margin: 50px;
    width: 100%;
}

strong{
    color: #054AA5;
}

.FamilySite{
    width: 150px;
    height: 30px;
    font-size: 12px;
    color: #054AA5;
    float: right;
    margin-right: 5%;
    font-weight: bold;
}