@font-face{
    font-family:'DNFForgedBlade';font-style:normal;font-weight:300;
    src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')format('opentype')}

*{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html,body{
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    background-color: #fff;
}

.TopLogo{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 75px;
}

.TopLogo > img{
    width: 300px;
    height: 98px;
}

nav{
    width: calc(100% - 600px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav > li{
    width: auto;
    height: auto;
    list-style-type: none;
    font-family: 'DNFForgedBlade';
    font-size: 20px;    
}

nav > li > a
{
    color: #054AA5;
    transition: 0.5s;
}

nav > li > a:hover{
    opacity: 0.6;
}


.TopIcon{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 75px;
    justify-content: center;
}

.TopIcon > a{
    width: auto;
    height: auto;
    margin: 0 5px;
}

.TopIcon > a:first-child{
    font-size: 15px;
    font-weight: bold;
    color: #054AA5;
}

.TopIcon > a > img{
    width: 30px;
    height: 30px;
}
/*헤더 끝*/

.Banner1{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../BlueMoonImages/BannerImage/Education/Education-Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.BannerText{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.BannerText p{
    width: auto;
    height: auto;
    font-family: 'DNFForgedBlade';
    color: #054AA5;
    font-size: 45px;
    text-align: center;
}

.BannerText > p:first-child{
    font-weight: bold;
}

.BannerText > div{
    width: 50px;
    height: 1px;
    border-bottom: 3px solid #054AA5;
    margin: 4% 0;
}

.BannerText p:nth-child(3){
    color: #054AA5;
    font-size: 25px;
    font-weight: bold;
}

.Banner-menu{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin: 4% 0;
}

.Banner-menu > ul{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.Banner-menu >ul > li{
    width: 200px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: #054AA5 2px solid;
    border-right: none;
    font-family: 'DNFForgedBlade';
    font-size: 16px;
}

.Banner-menu > ul > li:last-child{
    border-right: 2px solid #054AA5;
}

.Banner-menu > ul > li > a{
    color:#71a1e5;
    transition: 0.5s;
}

.Banner-menu > ul > li > a:hover{
    color:#054AA5;
}

.content-Wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main-Title{
    font-size: 45.5px;
    font-weight: bold;
    font-family: 'DNFForgedBlade';
    color: #054AA5;
    text-align: center;
    width: auto;
    height: auto;
    margin: 4% 0 2% 0;
}

.Main-Title-Line{
    background-color: #054AA5;
    height: 4px;
    width: 400px;
    margin-bottom: 4%;
}


.Education-Desciption{
    text-align: center;
    color: #054AA5;
    font-size: 23.5px;
    margin-bottom: 2%;
    line-height: 47px;
}

.Education-Desciption > b{
    font-size: 27px;
}

summary{
    text-align: center;
    font-size: 20px;
    color: #054AA5;
    margin-bottom: 4%;
}

.Left-Side{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.Left-Side-Text{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #054AA5;    
    font-size: 21.5px;
    margin-right: 4%;
    border: 3px solid #054AA5;
    padding: 2%;
}

.Left-Side-Text > p:first-child{
    font-size: 39px;
    font-weight: bold;
    color: #054AA5;
}

.Left-Side-Text > p{
    margin-bottom: 4%;
}

.Left-Side-Text > b{
    margin-bottom: 4%;
}

.Left-Side-Text > hr{
    width: 221px;
    border: 2px solid #054AA5;
    height: auto;
    margin: 4% 0;
}

.Left-Side > img{
    width: 550px;
    height: 370px;
    margin-left: 4%;
}

.Right-Side{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Right-Side-Text{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #054AA5;    
    font-size: 21.5px;
    margin-left: 4%;
    border: 3px solid #054AA5;
    padding: 2%;
}

.Right-Side-Text > p:first-child{
    font-size: 39px;
    font-weight: bold;
    color: #054AA5;
}

.Right-Side-Text > p{
    margin-bottom: 4%;
}

.Right-Side-Text > b{
    margin-bottom: 4%;
}

.Right-Side-Text > hr{
    width: 221px;
    border: 2px solid #054AA5;
    height: auto;
    margin: 4% 0;
}

.Right-Side > img{
    width: 550px;
    height: 370px;
    margin:0 4%;
}

.Qualification-Details{
    width: 100%;
    height: auto;
    background-color: #054AA5;
    margin: 4% 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.Qualification-Details-Title{
    font-weight: bold;
    font-size: 30.5px;
    margin-top: 6%;
}

.Qualification-Details > hr{
    width: 40px;
    height: auto;
    border: #fff 2px solid;
    margin: 3% 0;
}

.Qualification-Details > p:nth-child(3){
    font-size: 22.5px;
    font-weight: bold;
    margin-bottom: 2%;
}

.Qualification-Details > p:nth-child(4){
    font-size: 20px;
    margin-bottom: 4%;
}

.Qualification-Details > p:nth-child(5){
    font-size: 30px;
    font-weight: bold;
}

.Qualification-Photo-Desciption{
    width: calc(100% - 200px);
    height: auto;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8%;
}

.Qualification-Photo-Desciption > div{
    width: auto;
    height: auto;
}

.Qualification-Photo-Desciption > div > img{
    width: 358px;
    height: 270px;
    margin-bottom: 8%;
}

.Qualification-Photo-Desciption > div > p {
    width: auto;
    height: auto;
    font-size: 18px;
}

footer{
    width: 100%;
    height: 300px;
    border-top: 2px solid #054AA5;
}

footer > p{
    height: auto;
    text-align: center;
}

footer > p:first-child{
    font-size: 20px;
    color: #054AA5;
    font-weight: bold;
    margin: 40px 0;
}

footer > p > span{
    font-size: 15px;
}

footer > p > span::after{
    content: ' | ';
}

footer > p > span:last-child::after{
    content: ' ';
}

.bottomContent{
    display: flex;
    height: auto;
    text-align: center;
}

.lastPTag{
    margin: 50px;
    width: 100%;
}

strong{
    color: #054AA5;
}

.FamilySite{
    width: 150px;
    height: 30px;
    font-size: 12px;
    color: #054AA5;
    float: right;
    margin-right: 5%;
    font-weight: bold;
}