@font-face{
    font-family:'DNFForgedBlade';font-style:normal;font-weight:300;
    src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')format('opentype')}

*{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html,body{
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    background-color: #fff;
}

.TopLogo{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 75px;
}

.TopLogo > img{
    width: 300px;
    height: 98px;
}

nav{
    width: calc(100% - 600px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav > li{
    width: auto;
    height: auto;
    list-style-type: none;
    font-family: 'DNFForgedBlade';
    font-size: 20px;    
}

nav > li > a
{
    color: #054AA5;
    transition: 0.5s;
}

nav > li > a:hover{
    opacity: 0.6;
}


.TopIcon{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 75px;
    justify-content: center;
}

.TopIcon > a{
    width: auto;
    height: auto;
    margin: 0 5px;
}

.TopIcon > a:first-child{
    font-size: 15px;
    font-weight: bold;
    color: #054AA5;
}

.TopIcon > a > img{
    width: 30px;
    height: 30px;
}
/* 헤더 끝 */

.content-Wrapper{
    width: 100%;
    height: auto;
}

.Banner1{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../BlueMoonImages/BannerImage/MemberShipBanner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.BannerText{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.BannerText p{
    width: auto;
    height: auto;
    font-family: 'DNFForgedBlade';
    color: #054AA5;
    font-size: 45px;
    text-align: center;
}

.BannerText > div{
    width: 50px;
    height: 1px;
    border-bottom: 3px solid #71A1E5;
    margin: 4% 0;
}

.BannerText p:nth-child(3){
    color: #71A1E5;
    font-size: 25px;
}

.Banner-menu{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin: 4% 0;
}

.Banner-menu > ul{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.Banner-menu >ul > li{
    width: 200px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border: #054AA5 2px solid;
    border-right: none;
    font-family: 'DNFForgedBlade';
    font-size: 16px;
}

.Banner-menu > ul > li:last-child{
    border-right: 2px solid #054AA5;
}

.Banner-menu > ul > li > a{
    color:#71a1e5;
    transition: 0.5s;
}

.Banner-menu > ul > li > a:hover{
    color:#054AA5;
}

.Content{
    width: 100%;
    height: auto;
    margin: 4% 0;
    display: flex;
    justify-content: center;
}

.Left-Content{
    width: 50%;
    height: auto;
    padding: 5%;
}

.Left-Content-Title{
    width: 100%;
    font-size: 27.5px;
    color: #054AA5;
    font-family:'DNFForgedBlade';
    font-weight: bold;
    height: auto;
    margin-bottom: 2%;
}

.Moto{
    color: #71A1E5;
    font-size: 40px;
    width: auto;
    height: auto;
    line-height: 60px;
}

.Left-Content > hr{
    width: 377px;
    height: 1px;
    border: 1px solid #054AA5;
    margin: 6% 0;
}

.Left-Content-Title2{
    width: auto;
    height: auto;
    color: #054AA5;
    font-size: 39px;
    font-family:'DNFForgedBlade';
}

.MemberShip-Description{
    width: auto;
    height: auto;
    font-size: 20px;
    color: #71A1E5;
    margin: 4% 0;
}

.DownLoad-Wrapper{
    display: flex;
    width: auto;
    height: auto;
}

.DownLoad-Wrapper > a{
    width: 250px;
    height: 80px;
    display: flex;
    background-color: #054AA5;
    border-radius: 8px;
    align-items: center;
    opacity: 1;
    transition: 0.8s;
    margin-right: 2%;
}

.DownLoad-Wrapper > a:hover{
    opacity: 0.85;
}

.DownLoad-Text > p{
    color: #fff;
    height: auto;
    width: auto;
}

.DownLoad-Text > p:first-child{
    font-size: 20px;
    margin-top: 10px;
}

.DownLoad-Text > p:nth-child(2){
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.DownLoad-Wrapper > a > img{
    width: 69px;
    height: 69px;
    margin-right: 15px;
    margin-left: 5px;
}

.Right-Content{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
}

.Right-Content > img{
    width: 357px;
    height: 711px;
}

.Icon-Wrapper{
    width: 100%;
    height: auto;
    display: flex;
    margin: 5% 0;
    justify-content: space-around;
}

.Icon{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.Icon > div{
    width: 162px;
    height: 162px;
    background-color: #054AA5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Icon > div > img{
    width: 80px;
    height: 80px;
}

.Icon > p:nth-child(2){
    color: #054AA5;
    font-size: 23px;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
    margin: 4% 0;
}

.Icon > p:nth-child(3){
    color: #71A1E5;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: auto;
    line-height: 30px;
}

/* 푸터시작 */
footer{
    width: 100%;
    height: 300px;
    border-top: 2px solid #054AA5;
}

footer > p{
    height: auto;
    text-align: center;
}

footer > p:first-child{
    font-size: 20px;
    color: #054AA5;
    font-weight: bold;
    margin: 40px 0;
}

footer > p > span{
    font-size: 15px;
}

footer > p > span::after{
    content: ' | ';
}

footer > p > span:last-child::after{
    content: ' ';
}

.bottomContent{
    display: flex;
    height: auto;
    text-align: center;
}

.lastPTag{
    margin: 50px;
    width: 100%;
}

strong{
    color: #054AA5;
}

.FamilySite{
    width: 150px;
    height: 30px;
    font-size: 12px;
    color: #054AA5;
    float: right;
    margin-right: 5%;
    font-weight: bold;
}