@font-face{
    font-family:'DNFForgedBlade';font-style:normal;font-weight:300;
    src:url('//cdn.df.nexon.com/img/common/font/DNFForgedBlade-Light.otf')format('opentype')}

*{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html,body{
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a
{
    text-decoration: none;
}

header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 3;
    background-color: #fff;
}

.TopLogo{
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 75px;
}

.TopLogo > img{
    width: 300px;
    height: 98px;
}

nav{
    width: calc(100% - 600px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav > li{
    width: auto;
    height: auto;
    list-style-type: none;
    font-family: 'DNFForgedBlade';
    font-size: 20px;    
}

nav > li > a
{
    color: #054AA5;
    transition: 0.5s;
}

nav > li > a:hover{
    opacity: 0.6;
}


.TopIcon{
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 75px;
    justify-content: center;
}

.TopIcon > a{
    width: auto;
    height: auto;
    margin: 0 5px;
}

.TopIcon > a:first-child{
    font-size: 15px;
    font-weight: bold;
    color: #054AA5;
}

.TopIcon > a > img{
    width: 30px;
    height: 30px;
}
/*헤더 끝*/

.Banner1{
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../BlueMoonImages/BannerImage/Notice-Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.BannerText{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
}

.BannerText p{
    width: auto;
    height: auto;
    font-family: 'DNFForgedBlade';
    color: #054AA5;
    font-size: 45px;
    text-align: center;
}

.BannerText > p:first-child{
    font-weight: bold;
}

.BannerText > div{
    width: 50px;
    height: 1px;
    border-bottom: 3px solid #054AA5;
    margin: 4% 0;
}

.BannerText p:nth-child(3){
    color: #054AA5;
    font-size: 25px;
    font-weight: bold;
}

.Banner-menu{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin: 4% 0;
}

.Content-Wrapper{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Notce-Contents{
    width: calc(100% - 200px);
    border-collapse: collapse;
    height: auto;
    margin: 8% 0 4% 0;
    padding: 0 4%;
}

.Notce-Contents > thead {
    border-top: 4px solid #054AA5;
    border-bottom: 1px solid #054AA5;
}

.Number{
    width: 10%;
    height: 60px;
    font-weight: bold;
    text-align: center;
    color: #054AA5;
}

.Classification{
    width: 10%;
    height: 60px;
    font-weight: bold;
    text-align: center;
    color: #054AA5;
}

.Title{
    width: 50%;
    height: 60px;
    font-weight: bold;
    text-align: center;
    color: #054AA5;
}

.Registration-Date{
    width: 15%;
    height: 60px;
    font-weight: bold;
    text-align: center;
    color: #054AA5;
}

.Views{
    width: 15%;
    height: 60px;
    font-weight: bold;
    text-align: center;
    color: #054AA5;
}

tbody > tr{
    opacity: 1;
    transition: 0.8s;
}

tbody > tr:hover{
    opacity: 0.6;
}

tbody > tr > td{
    text-align: center;
}

tbody > tr > td > a{
    font-size: 16px;
    color: #000;
    font-weight: 500;
}


tbody > tr > td:first-child{
    width: 10%;
    height: 70px;
}

tbody > tr > td:nth-child(2){
    width: 10%;
    height: 70px;
}

tbody > tr > td:nth-child(3){
    width: 50%;
    height: 70px;
}

tbody > tr > td:nth-child(4){
    width: 15%;
    height: 70px;
}

tbody > tr > td:last-child{
    width: 15%;
    height: 70px;
}

tbody > tr{
    border-bottom: 1px solid #054AA5;
}

tbody > tr:last-child{    
    border-bottom: 4px solid #054AA5;
}

.Page-Controll{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-bottom: 4%;
}

.Page-Controll > a{
    margin: 0 24%;
    color: #054AA5;
    transition: 0.8s;
    opacity: 1;
}

.Page-Controll > a:first-child{
    font-weight: bold;
}

.Page-Controll > a:hover{
    opacity: 0.5;
}

.Page-Controll > a:last-child{
    width: 30px;
    height: 30px;
}

.Page-Controll > a:last-child > img{
    width: 30px;
    height: 30px;
}

/* 푸터시작 */
footer{
    width: 100%;
    height: 300px;
    border-top: 2px solid #054AA5;
}

footer > p{
    height: auto;
    text-align: center;
}

footer > p:first-child{
    font-size: 20px;
    color: #054AA5;
    font-weight: bold;
    margin: 40px 0;
}

footer > p > span{
    font-size: 15px;
}

footer > p > span::after{
    content: ' | ';
}

footer > p > span:last-child::after{
    content: ' ';
}

.bottomContent{
    display: flex;
    height: auto;
    text-align: center;
}

.lastPTag{
    margin: 50px;
    width: 100%;
}

strong{
    color: #054AA5;
}

.FamilySite{
    width: 150px;
    height: 30px;
    font-size: 12px;
    color: #054AA5;
    float: right;
    margin-right: 5%;
    font-weight: bold;
}